a { 
  color: #000;
  text-decoration: none;
}

@font-face {
	font-family: "base font";
	src : url("../font/HMFMMUEX.TTC") format('truetype');
}

.welcome-body {
  font-family : "base font";
  position: relative;
  font-weight: bold;
  background-color : #6c757d!important;
  background-size: cover;
}
#jb-container {
  width: 940px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #bcbcbc;
}
#jb-header {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #bcbcbc;
}
#jb-content {
  width: 100%; height: 100%;
  padding: 20px;
  margin-bottom: 20px;
  float: left;
  position: relative;
}

#jb-content > p {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);

  font-size: 2em;
  font-weight: bold;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6)
}
#content:nth-child(even){background-color: #333;}

#jb-sidebar {
  width: 260px;
  padding: 20px;
  margin-bottom: 20px;
  float: right;
  border: 1px solid #bcbcbc;
}
#jb-footer {
  clear: both;
  padding: 20px;
  border: 1px solid #bcbcbc;
}
@media ( max-width: 480px ) {
  #jb-container {
    width: auto;
  }
  #jb-content {
    float: none;
    width: auto;
  }
  #jb-sidebar {
    float: none;
    width: auto;
  }
}