a { 
  color: #000;
  text-decoration: none;
}
@font-face {
	font-family: "base font";
	src : url("../font/HMFMMUEX.TTC") format('truetype');
}

.welcome-body {
  font-family : "base font";
  position: relative;
  font-weight: bold;
  background-size: cover;
}

.jb-content {
  width: 100%; height: 100%;
  padding: 20px;
  margin-bottom: 20px;
  float: left;
  position: relative;
}
.jb-container {
  width: 940px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #bcbcbc;
}
.jb-header {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #bcbcbc;
}

.jb-main {
  width: 580px;
  padding: 20px;
  margin-bottom: 20px;
  float: left;
  border: 1px solid #bcbcbc;
}

.jb-footer {
  clear: both;
  padding: 20px;
  border: 1px solid #bcbcbc;
}