<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.take.portfolio.mapper">
    <select id="getBoard" resultType="com.take.portfolio.dao.BoardDao">
        SELECT
        idx, title, image, contents
        FROM
        tb_board
        ORDER BY idx asc
    </select>
</mapper>