<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link href="../../resouces/css/style.css" rel="stylesheet"
	type="text/css">
<link href="../../resouces/css/indexStyle.css" rel="stylesheet"
	type="text/css">
<link href="../../resouces/css/iconStyle.css" rel="stylesheet"
	type="text/css">
<!--<script type="text/javascript" src="../../resouces/js/main.js"></script>-->
<script type="text/javascript"
	src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<link rel="stylesheet" href="path/to/fontello/css/fontello.css">
<link rel="stylesheet" href="path/to/fontello/css/animation.css">
<title>코멘트</title>
</head>
<body class="welcome-body">
	<script> 
		AOS.init(); 
    </script>
	< div data-aos="zoom-in" class="jb-content">
	<div class="jb-container">
		<div class="jb-header">
			<h1>Comment</h1>
		</div>
		<div class="jb-main">
			<div class="row row-inline-block small-spacing">
				<div class="col-xs-12">
					<div class="box-content">
						<div class="clearfix">
							<h4 class="box-title pull-left"></h4>
							<!-- /.box-title -->

							<th:block layout:fragment="search"></th:block>

						</div>
						<!-- //.clearfix -->

						<th:block layout:fragment="content">
							<div class="card-content">
								<form class="form-horizontal"
									th:action="@{/comment/register.do}" th:object="${comment}"
									method="post" onsubmit="return registerBoard(this)">
									<!--/* update의 경우 서버로 전달할 게시글 번호 (PK) */-->
									<input type="hidden" th:if="*{idx != null and idx > 0}"
										th:field="*{idx}" />
									<!--
									<div class="form-group">
										<label for="noticeYn" class="col-sm-2 control-label">공지글
											설정</label>
										<div class="col-sm-10" style="margin-top: 10px;">
											<input type="checkbox" th:value="*{noticeYn}" id="noticeYn"
												name="noticeYn"
												th:checked="*{#strings.equals( noticeYn, 'Y' )}" />
										</div>
									</div>
									-->
									<div class="form-group">
										<label for="secretYn" class="col-sm-2 control-label">비밀글
											설정</label>
										<div class="col-sm-10" style="margin-top: 10px;">
											<input type="checkbox" th:value="*{secretYn}" id="secretYn"
												name="secretYn"
												th:checked="*{#strings.equals( secretYn, 'Y' )}" />
										</div>
									</div>
									
									<div class="form-group">
										<label for="title" class="col-sm-2 control-label">제목</label>
										<div class="col-sm-10">
											<input type="text" th:field="*{title}" class="form-control"
												placeholder="제목을 입력해 주세요." />
										</div>
									</div>

									<div class="form-group">
										<label for="writer" class="col-sm-2 control-label">이름</label>
										<div class="col-sm-10">
											<input type="text" th:field="*{writer}" class="form-control"
												placeholder="이름을 입력해 주세요." />
										</div>
									</div>

									<div class="form-group">
										<label for="content" class="col-sm-2 control-label">내용</label>
										<div class="col-sm-10">
											<textarea th:field="*{content}" class="form-control"
												placeholder="내용을 입력해 주세요."></textarea>
										</div>
									</div>

									<div class="btn_wrap text-center">
										<a th:href="@{/comment/list.do}"
											class="btn btn-default waves-effect waves-light">뒤로가기</a>
										<button type="submit"
											class="btn btn-primary waves-effect waves-light">저장하기</button>
									</div>
								</form>
							</div>
							<!-- /.card-content -->

							<div class="table-responsive clearfix">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>번호</th>
											<th>제목</th>
											<th>작성자</th>
											<th>등록일</th>
											<th>조회 수</th>
										</tr>
									</thead>
									<tbody>
										<tr th:if="${not #lists.isEmpty( boardList )}"
											th:each="row : ${boardList}">
											<td scope="row"
												th:text="${#strings.equals( row.noticeYn, 'Y' ) ? '공지' : row.idx}"></td>
											<td class="text-left"><a
												th:href="@{/board/view.do( idx=${row.idx} )}"
												th:text="${row.title}"></a></td>
											<td th:text="${row.writer}"></td>
											<td
												th:text="${#temporals.format( row.insertTime, 'yyyy-MM-dd' )}"></td>
											<td th:text="${row.viewCnt}"></td>
										</tr>
										<tr th:unless="${not #lists.isEmpty( boardList )}">
											<td colspan="5">조회된 결과가 없습니다.</td>
										</tr>
									</tbody>
								</table>

								<div class="btn_wrap text-right">
									<a th:href="@{/board/write.do}"
										class="btn btn-primary waves-effect waves-light">Write</a>
								</div>

								<th:block layout:fragment="paging">
									<nav aria-label="Page navigation" class="text-center">
										<ul class="pagination">
											<li><a href="#" aria-label="Previous"> <span
													aria-hidden="true">&laquo;</span>
											</a></li>
											<li><a href="#">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li><a href="#">5</a></li>
											<li><a href="#" aria-label="Next"> <span
													aria-hidden="true">&raquo;</span>
											</a></li>
										</ul>
									</nav>
								</th:block>
							</div>
						</th:block>

						<th:block layout:fragment="paging"></th:block>
					</div>
					<!-- /.box-content -->
					<th:block layout:fragment="script">
						<script th:inline="javascript">
							/*<![CDATA[*/
				
							function registerBoard(form) {
				
								form.noticeYn.value = form.noticeYn.checked == false ? 'N' : 'Y';
								form.secretYn.value = form.secretYn.checked == false ? 'N' : 'Y';
				
								var result = (
										   isValid(form.title, "제목", null, null)
										&& isValid(form.writer, "이름", null, null)
										&& isValid(form.content, "내용", null, null)
								);
				
								if ( result == false ) {
									return false;
								}
							}
							/*[- end of function -]*/
				
							/*]]>*/
						</script>
					</th:block>
					<th:block layout:fragment="add-content"></th:block>

				</div>
			</div>
			<div class="jb-footer">
				<div class="container" id="icons">
					<div class="row">
						<div class="span3" title="Code: 0xe801">
							<i class="demo-icon icon-user"></i> <span class="i-name"><a
								href="index">Kim Geunho</a></span> <span class="i-code">0xe801</span>
						</div>

						<div class="span3" title="Code: 0xe800">
							<i class="demo-icon icon-mail"></i> <span class="i-name"><a
								href="mailto:" asdlkjd1 @naver.com>asdlkjd1@naver.com</a></span> <span
								class="i-code">0xe800</span>

						</div>

						<div class="span3" title="Code: 0xf1d2">
							<i class="demo-icon icon-git-squared"></i> <span class="i-name"><a
								href="https://github.com/kimkgh8">https://github.com/kimkgh8</a></span>
							<span class="i-code">0xf1d2</span>
						</div>
					</div>
					<div class="container footer">
						developer by <span class="i-name">KIM GEUNHO</span>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>