<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link href="../../resouces/css/style.css" rel="stylesheet"
	type="text/css">
<link href="../../resouces/css/indexStyle.css" rel="stylesheet"
	type="text/css">
<link href="../../resouces/css/iconStyle.css" rel="stylesheet"
	type="text/css">
<script type="text/javascript" src="../../resouces/js/main.js"></script>
<script type="text/javascript"
	src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<link rel="stylesheet" href="path/to/fontello/css/fontello.css">
<link rel="stylesheet" href="path/to/fontello/css/animation.css">
<title>코멘트</title>
</head>
<body class="welcome-body">
	<script> 
		AOS.init(); 
    </script>
	<div data-aos="zoom-in" class="jb-content">
		<div class="jb-container">

			<div class="jb-header">
				<h1>KIM GEUNHO</h1>
			</div>
			<div class="jb-main">
				<figure class="snip1200">
					<img src="../../resouces/image/plus.png" />
					<figcaption>
						<p>성실함, 집중력</p>
						<div class="heading">
							<h2>
								My<span> Strength</span>
							</h2>
						</div>
					</figcaption>
					<a href="#"></a>
				</figure>
				<figure class="snip1200">
					<img src="../../resouces/image/minus.png" />
					<figcaption>
						<p>응용력 부족</p>
						<div class="heading">
							<h2>
								My<span> Weakness</span>
							</h2>
						</div>
					</figcaption>
					<a href="#"></a>
				</figure>
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<p>
					<small>단점을 극복하기 위해 필요한 과제 : 다방면으로 보는 시각을 키우자</small><br /> <br />
					<small>프로젝트에 참가하면 내 담당 뿐만아니고 전체적인 흐름을 이해하고 시각화.</small><br /> <br />
					<small>백엔드 위주의 프로젝트에 참가하여 이러한 포트폴리오 형태의 웹사이트를 만드는 것은 처음
						해봤습니다.</small><br /> <small>개발자로써 한 분야를 잘하는것도 중요하다고 생각하지만 프론트엔드
						쪽의 부분도 확인을 해야할 경우가<br />
					</small> <small>있기 때문에 어느정도는 알고 있어야한다고 생각하여 직접 만들기로 결정했습니다.</small><br />
					<br /> <small>만들어고 있는 중의 느낀 점 : 바로 눈에 보이는 결과가 매력적이고 API를
						만드는 것과는 다른 재미가 있다.</small>

				</p>

			</div>
			<div class="jb-footer">
				<div class="container" id="icons">
					<div class="row">
						<div class="span3" title="Code: 0xe801">
							<i class="demo-icon icon-user"></i> <span class="i-name"><a
								href="comment">Kim Geunho</a></span> <span class="i-code">0xe801</span>
						</div>
						<div class="span3" title="Code: 0xe800">
							<i class="demo-icon icon-mail"></i> <span class="i-name"><a
								href="mailto:﻿" asdlkjd1 @naver.com>asdlkjd1@naver.com</a></span> <span
								class="i-code">0xe800</span>
						</div>
						<div class="span3" title="Code: 0xf1d2">
							<i class="demo-icon icon-git-squared"></i> <span class="i-name"><a
								href="https://github.com/kimkgh8">https://github.com/kimkgh8</a></span>
							<span class="i-code">0xf1d2</span>
						</div>
					</div>
					<div class="container footer">
						developer by <span class="i-name">KIM GEUNHO</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div data-aos="zoom-in" class="jb-content">
		<div class="jb-container">
			<div class="jb-header">
				<h1>Comment</h1>
			</div>
			<div class="jb-main">
				<div class="row row-inline-block small-spacing">
					<div class="col-xs-12">
						<div class="box-content">
							<div class="clearfix">
								<h4 class="box-title pull-left"></h4>
								<!-- /.box-title -->

								<th:block layout:fragment="search"></th:block>

							</div>
							<!-- //.clearfix -->

							<th:block layout:fragment="content">
								<div class="card-content">
									<form class="form-horizontal"
										th:action="@{/comment/register.do}" th:object="${comment}"
										method="post" onsubmit="return registerBoard(this)">
										<!--/* update의 경우 서버로 전달할 게시글 번호 (PK) */-->
										<input type="hidden" th:if="*{idx != null and idx > 0}"
											th:field="*{idx}" />
										<!--
										<div class="form-group">
											<label for="noticeYn" class="col-sm-2 control-label">공지글
												설정</label>
											<div class="col-sm-10" style="margin-top: 10px;">
												<input type="checkbox" th:value="*{noticeYn}" id="noticeYn"
													name="noticeYn"
													th:checked="*{#strings.equals( noticeYn, 'Y' )}" />
											</div>
										</div>
										\-->


										<div class="form-group">
											<label for="title" class="col-sm-2 control-label">이름</label>
											<input type="text" th:field="*{writer}" class="form-control-name" />
										</div>
										<br />

										<div class="form-group">
											<label for="content" class="col-sm-2 control-label">내용</label>
											<div class="col-sm-10">
												<textarea th:field="*{content}" class="form-control-text"
													placeholder="내용을 입력해 주세요."></textarea>
											</div>
										</div>
										<div class="form-group">
											<label for="secretYn" class="col-sm-2 control-label">비밀글
												설정</label> <input type="checkbox" th:value="*{secretYn}"
												id="secretYn" name="secretYn"
												th:checked="*{#strings.equals( secretYn, 'Y' )}" />
										</div>

										<div class="btn_wrap text-center">
											<!-- <a th:href="@{/comment/list.do}" class="snip1535">뒤로</a> -->
											<button type="submit" class="snip1535">남기기</button>
										</div>
									</form>
								</div>
								<!-- /.card-content -->

								<div class="table-responsive clearfix">
									<table class="form-control-table">
										<thead>
											<tr>
												<th>No.</th>
												<th>작성자</th>
												<th>내용</th>
												<th>등록일</th>
												<th>좋아요</th>
											</tr>
										</thead>
										<tbody>
											<tr th:if="${not #lists.isEmpty( boardList )}"
												th:each="row : ${boardList}">
												<td scope="row"
													th:text="${#strings.equals( row.noticeYn, 'Y' ) ? '공지' : row.idx}"></td>
												<td class="text-left"><a
													th:href="@{/board/view.do( idx=${row.idx} )}"
													th:text="${row.title}"></a></td>
												<td th:text="${row.writer}"></td>
												<td
													th:text="${#temporals.format( row.insertTime, 'yyyy-MM-dd' )}"></td>
												<td th:text="${row.viewCnt}"></td>
											</tr>
											<tr th:unless="${not #lists.isEmpty( boardList )}">
												<td colspan="5">조회된 결과가 없습니다.</td>
											</tr>
										</tbody>
									</table>

									<th:block layout:fragment="paging">
										<nav th:replace="common :: pagination"></nav>
									</th:block>
								</div>
							</th:block>

						</div>
						<!-- /.box-content -->
						<th:block layout:fragment="script">
							<script th:inline="javascript">
								/*<![CDATA[*/
					
								function registerBoard(form) {
					
									form.noticeYn.value = form.noticeYn.checked == false ? 'N' : 'Y';
									form.secretYn.value = form.secretYn.checked == false ? 'N' : 'Y';
					
									var result = (
											   isValid(form.title, "제목", null, null)
											&& isValid(form.writer, "이름", null, null)
											&& isValid(form.content, "내용", null, null)
									);
					
									if ( result == false ) {
										return false;
									}
								}
								/*[- end of function -]*/
					
								/*]]>*/
								
								$(".hover").mouseleave(
								  function() {
								    $(this).removeClass("hover");
								  }
								);
							</script>
						</th:block>
						<th:block layout:fragment="add-content"></th:block>

					</div>
				</div>
				<div class="jb-footer">
					<div class="container" id="icons">
						<div class="row">
							<div class="span3" title="Code: 0xe801">
								<i class="demo-icon icon-user"></i> <span class="i-name"><a
									href="comment">Kim Geunho</a></span> <span class="i-code">0xe801</span>
							</div>

							<div class="span3" title="Code: 0xe800">
								<i class="demo-icon icon-mail"></i> <span class="i-name"><a
									href="mailto:" asdlkjd1 @naver.com>asdlkjd1@naver.com</a></span> <span
									class="i-code">0xe800</span>

							</div>

							<div class="span3" title="Code: 0xf1d2">
								<i class="demo-icon icon-git-squared"></i> <span class="i-name"><a
									href="https://github.com/kimkgh8">https://github.com/kimkgh8</a></span>
								<span class="i-code">0xf1d2</span>
							</div>
						</div>
						<div class="container footer">
							developer by <span class="i-name">KIM GEUNHO</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	>
</body>
</html>